/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.my-team__page {
  padding: 1.5rem 1rem;
  color: #000;
}
.my-team__title {
  font-family: "PT Serif", serif;
  font-size: 2.25rem;
  font-weight: bold;
  margin-top: 2rem;
}
.my-team__description {
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
}
.my-team__description h2 {
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
}
.my-team__description p {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
}
.my-team__members {
  width: 100%;
  margin: 5rem 0;
  display: flex;
  flex-wrap: wrap;
}
.my-team__members div {
  display: flex;
  max-width: 50%;
  padding-top: 0.75rem;
}
.my-team__members div:nth-child(odd) {
  padding-right: 0.75rem;
}
.my-team__members div:nth-child(even) {
  padding-left: 0.75rem;
  margin-top: 4rem;
}
.my-team__members img {
  width: 100%;
  border-radius: 1rem;
}
.my-team__members figcaption {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.my-team__members p {
  font-family: "PT Serif", serif;
  font-size: 0.625rem;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  margin-left: 0.5rem;
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-align: center;
  color: #575757;
  margin-top: auto;
}
.footer__link {
  font-weight: bold;
}
